extends base
block content
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Create a new account
            form.form.form-signup
                .form__group
                    label.form__label(for='fullname') Full Name
                    input#name.form__input(type='text', placeholder='John roger',name="fullname" ,required)
                .form__group
                    label.form__label(for='email') Email address
                    input#email.form__input(type='email', placeholder='you@example.com',name="email" ,required)
                .form__group.ma-bt-md
                    label.form__label(for='password') Password
                    input#password.form__input(type='password', placeholder='••••••••',name="password", required, minlength='8')
                .form__group.ma-bt-md
                    label.form__label(for='passwordConfirm') Confirm Password
                    input#password-confirm.form__input(type='password', placeholder='••••••••',name="passwordConfirm", required, minlength='8')
                .form__group
                    button.btn.btn--green Signup 