extends baseEmail

block content
  .content
    h2 Hi #{firstName},
    p You requested to change your email address for your Natours account. Please confirm the change by clicking below:
    a.btn(href=`${url}`) Confirm Email Change
    p If this wasn't you, please contact us immediately at support@natours.com.
    p Thanks,
    p The Natours Team
